#circle-editor {
    position: relative;
    width: 550px;
    height: 600px;
}
#editor-io-div {
    visibility: hidden;
}
#editor-outputarea {
    position: relative;
    width: 550px;
    height: 100px;
}

#loaded-widget-div{
    visibility:hidden
}