 I'm doing research at the intersection of machine learning and motion planning. 
For a full list of my work, please visit my 
<a href="https://scholar.google.com/citations?user=TVQRi8wAAAAJ&hl=en" target="_blank"> google scholar page</a> or my 
<a href="cv.pdf" target="_blank">cv</a>.
For posts on research/stuff click <a href="posts"> here </a>. 
Currently, I'm a 5th year Ph.D. student at the Univ. of Pennsylvania and will 
be joining <a href="https://nuro.ai/" target="_blank">nuro</a> in July, 2021.

