#circle-editor {
    position: relative;
    width: 600px;
    height: 900px;
    margin: 0 auto;
}
#editor-io-div {
    visibility: hidden;
    margin: 0 auto;
}
#editor-button1 {
    width: 50%;
    margin: 0 auto;
}
#editor-outputarea {
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
}

#loaded-widget-div{
    visibility:hidden
}

/* The alert message box */
.alert {
padding: 20px;
background-color: green;
color: white;
margin-bottom: 15px;
height: auto;
width: auto;
}



.collapse-button {
background-color: #777;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapse-button:hover {
background-color: #555;
}

.collapse-content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}

#collapse-div1 {
border-style: solid;

}
